# Auto detect text files and perform LF normalization
* text=auto

# Fonts are binary
*.woff2 binary
*.woff binary
*.ttf binary

# Cloudflare Pages config files must use LF line endings
_redirects text eol=lf
_headers   text eol=lf
